<div class="copy-right">
        <p> &copy; 2013 Videos. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
    <!---End-copy-right---->
    <!---End-wrap---->
</body>

</html>