<form action="/addquestion" method="POST">
    <input type="text" placeholder="question" name="question" required> 
    <input type="text" placeholder="answer" name="answer" required> 
    <input type="text" placeholder="choice 0" name="choices[0]"> 
    <input type="text" placeholder="choice 1" name="choices[1]"> 
    <input type="text" placeholder="choice 2" name="choices[2]"> 
    <input type="text" placeholder="choice 3" name="choices[3]">
    <input type="text" placeholder="choice 4" name="choices[4]">
    <input type="text" placeholder="level" name="level" required>
    <input type="text" placeholder="difficulty" name="difficulty" required>
    
    <input type="submit">
</form>