<!-- <form action="/login" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<input type="submit">
</form>

<a href="/register">register</a> -->




<!DOCTYPE HTML>

<html>
<head>
	<!-- Linking dependencies -->
    <title>Videos Website Template | Home :: W3layouts</title>
    <link href="stylesheets/app.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


</head>
	

<body>
    <!---start-wrap---->
    <!---start-header---->
    <div class="header">
        <div class="wrap">
            <!---start-logo---->
            <div class="logo">
                <a href="/"><img src="images/logo.png" title="logo" /></a>
            </div>
            <!---End-logo---->
            <!---start-navbar---->
            <div class="top-menu">
                <div class="top-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Categories</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/login">login</a></li>
                    </ul>
                </div>


                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <!---End-navbar---->
        </div>
        <!---End-header---->
   
	
	
	</div>
    <div class="clear"> </div>
    <!---start-content---->



    <div class="container register-form" style="margin-top: 6%;">

        <div class="row " style="margin-bottom: 5%;">
            <div class="col-lg-6">
                <img src="images/container.jpg"/>
            </div>

            <div class="col-lg-6">
				
				<!-- ############FORM################# -->

                <form class="form" action="/login" method="POST">
                    <div class="note">
                        <p>Login</p>
                    </div>
                    <div class="form-content">
                        
                        <div class="form-group">
                            <input name="username" type="text" class="form-control" placeholder="Email" value="" >
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="Your Password" >
                        </div>
                       

                        <button type="submit" class="btnSubmit">Submit</button>
                    </div>
                </form>
				<!-- Form end -->
				<a href="/register">Or Register</a>
            </div>

        </div>
    </div>









    <div class="clear"> </div>
    <!---End-content---->
    <!---start-copy-right---->
    <div class="copy-right">
        <p> &copy; 2013 Videos. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
    <!---End-copy-right---->
    <!---End-wrap---->
</body>

</html>