<head>
	<!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script>
        function plot(data) {
            Plotly.newPlot('myDiv', data);
        }
    </script>
</head>

<body>
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    <button onclick="plot(<%=data%>)">plot</button>
</body>