<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>

<head>
    <title>Videos Website Template | Home :: W3layouts</title>
    <link href="../stylesheets/app.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->

</head>

<body>
    <!---start-wrap---->
    <!---start-header---->
    <div class="header">
        <div class="wrap">
            <!---start-logo---->
            <div class="logo">
                <a href="/"><img src="../images/logo.png" title="logo" /></a>
            </div>
            <!---End-logo---->
            <!---start-top-menu-search---->
            <div class="top-menu">
                <div class="top-nav">
                    <ul>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <!---End-header---->
        <div class="clear"> </div>
        <!---start-content---->
    </div>

    <div class="container">
        <div class="row">
            <br />
            <div>
                <div>
                    <p><%= data.question %></p>
                </div>
                <!--.panel-heading-->
                <div>
                    <h4>Your Answer</h4>
                </div>
                <ul class="list-group">
                    <form action="/quiz" method="POST">
                    <% for (var i = 0; i<data.choices.length ;i++) { %>
                    
                        <li class="list-group-item">
                            <div>
                                <input type="radio" id="radio" name="choice" value=<%=i %>   />
                                <label for="radio">
                                    <%= data.choices[i] %>
                                </label>
                            </div>
                        </li>
                        <% } %>
                        <input type="submit">
                        <button>Next</button>
                    </form>
                </ul>
            </div>
        </div>
        
        </form>
    </div>

    <div class="clear"> </div>
    <!---End-top-menu-search---->

    <div class="clear"> </div>
    <!---End-content---->
    <!---start-copy-right---->
    <div class="copy-right">
        <p> &copy; 2013 Videos. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
    <!---End-copy-right---->
    <!---End-wrap---->

    <script type="text/javascript" src="../js/nextQ.js"></script>
</body>

</html>