<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>



<head>
    <title>Videos Website Template | Home :: W3layouts</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->

</head>

<body>
    <!---start-wrap---->
    <!---start-header---->
    <div class="header">
        <div class="wrap">
            <!---start-logo---->
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" title="logo" /></a>
            </div>
            <!---End-logo---->
            <!---start-top-menu-search---->
            <div class="top-menu">
                <div class="top-nav">
                    <ul>
                        <li><a href="categories.html">Categories</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <!---End-header---->
        <div class="clear"> </div>
        <!---start-content---->
    </div>

    <div class="container">
        <div class="row">
            <br />
            <div>
                <div>
                    <p>
                        1) Which among the following statements regarding the Surrogacy (Regulation)
                        bill, 2016 is incorrect ?
                        a. It allows only Indian citizens for Surrogacy
                        in India
                        b. The bill allows both gestational and
                        traditional Surrogacy
                        c. Any woman in the age range of 25 to
                        35 years of age is allowed to undertake
                        surrogacy
                        d. Surrogacy boards will decide code of
                        conduct for Surrogacy in India
                    </p>
                </div>
                <!--.panel-heading-->

                <div>
                    <h4>Your Answer</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1 and 2 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                2 and 3 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1 and 3 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1, 2 and 3
                            </label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <br />
            <div>
                <div>
                    <p>
                        1) Which among the following statements regarding the Surrogacy (Regulation)
                        bill, 2016 is incorrect ?
                        a. It allows only Indian citizens for Surrogacy
                        in India
                        b. The bill allows both gestational and
                        traditional Surrogacy
                        c. Any woman in the age range of 25 to
                        35 years of age is allowed to undertake
                        surrogacy
                        d. Surrogacy boards will decide code of
                        conduct for Surrogacy in India
                    </p>
                </div>
                <!--.panel-heading-->

                <div>
                    <h4>Your Answer</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1 and 2 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                2 and 3 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1 and 3 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1, 2 and 3
                            </label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <br />
            <div>
                <div>
                    <p>
                        1) Which among the following statements regarding the Surrogacy (Regulation)
                        bill, 2016 is incorrect ?
                        a. It allows only Indian citizens for Surrogacy
                        in India
                        b. The bill allows both gestational and
                        traditional Surrogacy
                        c. Any woman in the age range of 25 to
                        35 years of age is allowed to undertake
                        surrogacy
                        d. Surrogacy boards will decide code of
                        conduct for Surrogacy in India
                    </p>
                </div>
                <!--.panel-heading-->

                <div>
                    <h4>Your Answer</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1 and 2 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                2 and 3 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1 and 3 only
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                            <input type="checkbox" id="checkbox" />
                            <label for="checkbox">
                                1, 2 and 3
                            </label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="clear"> </div>
    <!---End-top-menu-search---->















    <div class="clear"> </div>
    <!---End-content---->
    <!---start-copy-right---->
    <div class="copy-right">
        <p> &copy; 2013 Videos. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
    <!---End-copy-right---->
    <!---End-wrap---->
</body>

</html>