<%- include("partials/header") %> 
<body>
	<div class="main-wrapper-first">
		<div class="hero-area relative">
			<header>
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<a href="/"><img src="img/logo.png" alt=""></a>

							</div>
							<div class="main-menubar d-flex align-items-center">
								<nav class="hide">
									<a href="/">Home</a>
									<a href="/videogallery">Videos</a>
									<a href="/tools">Tools</a>
									<% if(!userData) { %>
									<a href="/login">Login</a>
									<% } else {%>
									<a href="/profile">Profile</a>
									<a href="/logout">Logout</a>
									<% } %>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="banner-area">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-7">
							<div class="banner-content text-center">
								<h4 class="text-uppercase">your learning partner</h4>
								<h1>Contents</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-wrapper">
		<!-- Start Feature Area -->

		<!-- End Feature Area -->


		<!-- Start service Area -->

		<section class="service-area">
			<div class="container">
				<div class="banner-content text-center">
					<h1 style="font-size: 60px;" class="text-black">Videos</h1>
					<h5>personalised contents for you</h5>

				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="single-service" style="background: url(img/s1.jpg);">
							<div class="overlay overlay-content">
								<h4 class="text-uppercase">Computer Science</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								<a href="/watch" style="width: fit-content; align-self: baseline;"
									class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get
										Started</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="single-service" style="background: url(img/s2.jpg);">
							<div class="overlay overlay-content">
								<h4 class="text-uppercase">Electronics</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								<a href="/watch" style="width: fit-content;"
									class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get
										Started</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="single-service" style="background: url(img/s3.jpg);">
							<div class="overlay overlay-content">
								<h4 class="text-uppercase">Electrical</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								<a href="/watch" style="width: fit-content;"
									class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get
										Started</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="single-service" style="background: url(img/s4.jpg);">
							<div class="overlay overlay-content">
								<h4 class="text-uppercase">Mechanics</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
								<a href="/watch" style="width: fit-content;"
									class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get
										Started</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End service Area -->


		<!-- Start footer Area -->
		<footer class="footer-area relative">
			<div class="container">
				<div class="footer-content d-flex flex-column align-items-center">
					<div class="footer-menu">
						<a href="index.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</div>
					<div class="footer-social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					<div class="copy-right-text">Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This template
						is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a></div>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</div>
			</div>
		</footer>
		<!-- End footer Area -->
	</div>

<%- include("partials/footer") %> 